.font-minion {
    font-family: 'Minion Pro';
    font-size: 17px;
    color: #513311;
    text-shadow: rgba(81,51,17,0.5) 0px 0px 1px;
}
a, img {
    border:none;
}
body {
    background-image: url('../images/Template/BG1024x1280.png');
    background-color: black;
    background-position: top;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    color: #463118;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-shadow: rgba(0,49,24,0.4) 0px 0px 1px;
}

.main-wrap {
    padding: 80px 0 0 0;
    box-sizing: border-box;

    margin: 0 auto;
    position: relative;
}

.before-header {
    width: 1158px;
    height: 58px;
    background: url('../images/Template/Top58x1158.png');

    z-index: 1;
    position: absolute;
    top: -48px;
    left: -109px;
}

.page-wrap {
    /*
    background: url('../images/Template/Contener935x1080.png');
    background-size: cover;

    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    */

    width: 940px;
    margin: 0 auto;
    position: relative;
}

.page-header {
    position: relative;
    padding-top: 20px;
    border: none;
}

.user-section {
    position: absolute;
    top: 48px;
    right: 20px;
}

.register-button {
    background: url('../images/Template/Register33x72.png');
    width: 72px;
    height: 33px;
    display: block;
    float: left;
}

.logout-button {
    background: url('../images/Template/Logout33x72.png');
    width: 72px;
    height: 33px;
    display: block;
    float: left;
}

.logo {
    width: 308px;
    height: 108px;
    background: url('../images/Template/Logo108x308.png');
    margin: 0 auto;
}

.nav-menu {
    width: 867px;
    height: 44px;
    background: url('../images/Template/Menu44x867.png');
    margin: 20px auto;
    text-align: center;
}

.nav-menu a {
    line-height: 37px;
    color: #513311;
    text-align: center;
    padding: 0 21px;
}
.nav-menu a:hover {
    text-decoration :none;
}
.nav-menu a.active {
    font-weight: bold;
}

.container {
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.wrap {
    width: 774px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.end-icon {
    background: url('../images/Template/37x245.png');
    width: 245px;
    height: 37px;
    margin: 20px auto;
}

.back-icon {
    background: url('../images/Template/Back27x95.png');
    width: 95px;
    height: 27px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.page-footer {
position: absolute;
bottom: 0px;
left: 50%;
margin-left: -640px;
width: 1280px;
height: 229px;
background: url('foot.png');
pointer-events: none;
}
a {
    color: #513311;
}
.fontColor {
    color: #513311;
}
.fontJustify {
    text-align:justify;text-justify:inter-word;
}
.regLink {
    color: #513311;
}
.regLink:hover {
    color:#513311;
    text-decoration: none;
}


.bg-wrap {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-wrap img {
    width: 100%;
    height: 100%;
}
/********* tool *********/
.bar {
    background: url('../images/Template/Bar43x1.png') repeat-x;
    height: 43px;
    line-height: 43px;
    text-align: center;
    line-height: 43px;
    color: white;

    font-family: 'Minion Pro';
    font-size: 20px;
}

.bar .arrow-down {
    background: url('../images/Template/arrow_down8x11.png');
    width: 11px;
    height: 8px;
    float: right;
    margin-top: 18px;
    margin-right: 18px;
}